<div class="c-block-1">
  <div class="c-block-1__box-1 js-block-1__box-1">
    <div class="c-block-1__logo">
      <a href="/es/">
        <img src="../../../../assets/images/logo-sofia.png" alt="Logo Sofia " id="logo-campollo"
          data-turbolinks-permanent="">
      </a>
    </div>
    <nav class="c-block-1__nav">
      <ul class="c-nav-1">
        <li class="active"> <a class="icon-home" routerLink="/"><span>Inicio</span></a> <i class="icon-active icon-keyboard_arrow_right1"></i>
        </li>
        <li class=""> <a class="icon-spoon-knife" routerLink="/Productos"><span>Productos</span></a> </li>
        <li class=""> <a class="icon-receipt" routerLink="/Recetas"><span>Recetas</span></a> </li>
        <li class=""> <a class="icon-price-tags" routerLink="/Ofertas"><span>Ofertas</span></a> </li>
        <li class=""> <a class="icon-location" routerLink="/Puntos-de-Venta"><span>Puntos de venta</span></a> </li>
        <li class=""> <a class="icon-rss" routerLink="/Eventos"><span>Eventos</span></a> </li>
        <li class=""> <a class="icon-envelope1" routerLink="/Contactos"><span>Contacto</span></a> </li>
      </ul>
    </nav>
  </div>
  <div class="c-block-1__box-2 js-block-1__box-2" id="menu-extra" style="padding-top: 511px;">
    <div class="c-contact-1"><i class="c-contact-1__icon icon-phone_in_talk"></i>
      <p class="c-contact-1__descrip">Línea de contacto Sofia</p>
      <div class="c-contact-1__phone" style="font-size: 2.9rem;">01 8000 94 24 94</div>
    </div>
    <ul class="c-menu-3 c-block-1__menu-3">
      <li> <a class="icon-office" href="/es/nuestra-empresa/"><span>Nuestra Empresa</span></a> </li>
      <li> <a class="icon-shield-check" href="/es/proteccion-de-datos-personales/"><span>Protección de datos personales</span></a>
      </li>
      <li> <a class="icon-briefcase" href="/es/trabaje-con-nosotros/"><span>Trabaje con nosotros</span></a> </li>
      <li> <a class="icon-file-text3" target="_blank" href="https://www.campollosrv.com/"><span>Picam</span></a> </li>
      <li> <a class="icon-envelop5" target="_blank" href="https://mail.google.com/a/campollo.net"><span>Correo
            empleados</span></a> </li>
      <li> <a class="icon-mailbox" target="_blank" href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;service=mail&amp;hd=campollo.com&amp;sacu=1&amp;flowName=GlifWebSignIn&amp;flowEntry=AddSession"><span>Correo
            Pdvs</span></a> </li>
      <li> <a class="icon-grid" target="_blank" href="http://hd.campollo.com:8080/Login.jsp"><span>Helpdesk</span></a>
      </li>
    </ul>
    <p class="c-block-1__copy">Copyright © 2018 Ramiro Castillo. Todos los derechos reservados.</p><a class="c-block-1__developer"
      href="https://www.nigma.co/" target="_blank"><span>Desarrollado por</span><img src="/images/logo-nigma.svg" alt="Agencia de Marketing Digital - Grupo Nigma"></a>
  </div>
</div>
