<div class="c-header js-header" id="header">
  <div class="c-header__col-1">
    <div class="c-form-newsletter">
      <div class="c-form-newsletter__text-1">Recibe nuestras ofertas y novedades</div><a class="o-btn-2 icon-der c-form-newsletter__btn js-open-popup-newsletter"
        data-turbolinks="false">Suscribirme <i class="icon-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="c-header__col-2">
    
    <div class="c-header__siguenos">¡Síguenos!</div>
    <ul class="c-nav-redes-header">
      <li> <a class="icon-facebook" href="https://www.facebook.com/Campollo.SA/" target="_blank"><span>Facebook</span></a>
      </li>
      <li> <a class="icon-twitter" href="https://twitter.com/campollo_sa" target="_blank"><span>Twitter</span></a> </li>
      <li> <a class="icon-instagram1" href="https://www.instagram.com/campollo.sa/" target="_blank"><span>Instagram</span></a>
      </li>
    </ul>
  </div>
</div>
